<div class="centered">
	<form method="post" action="/access/resetpassword">
		<table border="0">
			<tr>
				<td align="center">Please enter email address</td>
				<td><input type="text" size="20" name="email"></td>
				<td><input type="submit" value="Reset Password" class="submit_btn"></td>
			</tr>
		</table>
	</form>
</div>
