<div class="side_bar">
	<h2>Options</h2>
	<p>
		<a href="/items/browse">Browse items</a> 		
	</p>
	<p>
		<a href="/users/list">View Users</a>
	</p>
	<p>
		<a href="/iotm/list">Item of the Month</a>
	</p>
	<p>
		<span style="width:100px;">&nbsp;</span><a href="/iotm/previous">Previous Winners</a>
	</p>
	<p>
		<a href="/swop/index">theSwopSpace</a>
	</p>	
</div>
